:root {
    --root_bg: #fff;
    --text_color: #000;
    --primary-color: #FFA200;

    --header-bg: #fff;
    --header-color: #000;

    --card-bg: #FFFFFF;
    --card-border-color: #0000005F;

    --primary-btn-color: #fff;
    --primary-btn-bg: var(--primary-color);

    --bin-bg: var(--primary-color);
    --bin-color: var(--primary-btn-color);

    --badge-bg: var(--primary-color);
    --badge-color: var(--primary-btn-color);
}

.wrapper {
    color: var(--text_color);
    background: var(--root_bg);
    min-height: 100vh;
}

.navbar {
    background-color: var(--header-bg);
}

.nav-link, .navbar-brand{
    color: var(--header-color) !important;
}

.nav-link:hover, .navbar-brand:hover{
    color: hsl(from var(--header-color) h s calc(l - 10)) !important;
}

.navbar .title {
    display: flex !important;
    align-items: center !important;
}

.bin.btn.btn-primary {
    position: relative !important;
    background-color: var(--bin-bg) !important;
    border-color: var(--bin-bg) !important;
    color: var(--bin-color) !important;
}

.bin.btn.btn-primary:hover, .bin.btn.btn-primary:hover .badge  {
    background-color: hsl(from var(--bin-bg) h s calc(l - 10)) !important;
    border-color: hsl(from var(--bin-bg) h s calc(l - 10)) !important;
    color: var(--bin-color) !important;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 25%));
    gap: 25px;
    justify-content: space-between;
    margin-top: 15px;
}

.cards-wrapper .card {
    background: var(--card-bg);
    border: 1px solid var(--card-border-color);
    border-radius: 16px;
}

.cards-wrapper .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-wrapper .card .card-body .card-info {
    margin-bottom: 25px;
}

.cards-wrapper .card img {
    height: 250px;
    width: 80%;
    margin: auto;
    padding: 25px 0;
}

.code-preview {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.code-image {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 0;
}

.badge {
    position: absolute !important;
    top: -10px !important;
    right: -15px;
    color: var(--badge-color) !important;
    background-color: var(--badge-bg) !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.card .form-group {
    margin-bottom: 25px;
}

.code-page img {
    width: 80%;
}

.btn-primary {
    background-color: var(--primary-btn-bg) !important;
    border-color: var(--primary-btn-bg) !important;
}

.btn-primary:hover {
    background-color: hsl(from var(--primary-btn-bg) h s calc(l - 10)) !important;
    border-color: hsl(from var(--primary-btn-bg) h s calc(l - 10)) !important;
}

.card-btns {
    display: flex;
    justify-content: center;
}

.card-btns .btn {
    width: 50%;
}