{% load static %}


{% if "http://localhost:8000/taxs/" in request.build_absolute_uri or "http://127.0.0.1:8000/taxs/" in request.build_absolute_uri %}

<a href="/codes/{{ code.id }}/" class="card w-100 text-decoration-none">
    <div class="row g-0 align-items-center">
        <div class="col-md-4 d-flex justify-content-center">
            <img src="{{ code.image }}" style="max-width: 50%; height: auto;">
        </div>
        <div class="col-md-6 d-flex flex-column">
            <div class="card-body d-flex flex-row align-items-center justify-content-between" style="color: black;">
                <div>
                    <h5 class="card-title" style="color: black;">{{ code.name }}</h5>
                    <p class="card-text" style="color: black;">Расшифровка:</p>
                    <p class="card-text" style="color: black;">{{ code.decryption }}</p>
                </div>
                <div class="form-group mb-0">
                    <label class="form-label" style="color: black;">Сумма вычета</label>
                    <input disabled class="form-control" style="width: 100px" value="{{ code.value }}₽">
                </div>
            </div>
        </div>
    </div>
</a>


{% else %}

<a href="/codes/{{ code.id }}/" class="card text-decoration-none" style="color: inherit;">
    <img src="{{ code.image }}" class="code-preview" alt=""/>

    <div class="card-body">
        <div class="card-info">
            <h5 class="card-title">Код: {{ code.name }}</h5>
            <p class="card-text">{{ code.decryption }}</p>
        </div>
    </div>
</a>


{% endif %}




