{% extends "base.html" %}

{% block content %}
    <main class="container">

       <div class="row d-flex justify-content-between">
            <div class="col md-8">
                <form class="search-bar" action="/" method="GET">
                    <div class="row">
                        <div class="col-md-5">
                            <input type="text" class="form-control" placeholder="Введите номер кода" name="code_name" value="{{ code_name }}">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary w-60">Поиск</button>
                        </div>
                    </div>
                </form>
            </div>

             {% include "bin.html" %}

        </div>

        <div class="cards-wrapper">

            {% for code in codes %}

                {% include "code_card.html" %}

            {% endfor %}

        </div>

    </main>
{% endblock content %}

