{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="container">

    <h3 class="text-center">Черновая справка</h3>
    <h3 class="text-left">Новиков Сергей Андреевич</h3>

   <div class="form-group">
    <form method="post" action="{% url 'tax' tax.id %}" class="d-flex align-items-center">
        {% csrf_token %}
        <button type="submit" name="period" value="6" class="btn {% if selected_period == 6 %}btn-secondary{% else %}btn-warning{% endif %}">6 месяцев</button>
        <button type="submit" name="period" value="12" class="btn {% if selected_period == 12 %}btn-secondary{% else %}btn-warning{% endif %}">12 месяцев</button>
        <button type="submit" name="period" value="24" class="btn {% if selected_period == 24 %}btn-secondary{% else %}btn-warning{% endif %}">24 месяца</button>

        {% if selected_period %}
            <p id="periodText" class="mb-0" style="margin-left: 175px;">За период -- {{ start_date|date:"d M Y" }} - {{ end_date|date:"d M Y" }}</p>
        {% else %}
            <p class="mb-0" style="margin-left: 175px;">За период -- Выберите период</p>
        {% endif %}
    </form>
</div>





    <form method="post" action="{% url 'delete_tax' tax.id %}">
        {% csrf_token %}
        <button class="btn btn-danger delete-draft-tax-btn" type="submit">
            Очистить корзину
        </button>
    </form>

    <h4 class="text-center">Коды вычетов</h4>

    <div class="cards-wrapper d-flex flex-column">
        {% for code in tax.get_codes %}
            {% include "code_card.html" %}
        {% endfor %}
    </div>

</main>
{% endblock content %}